:root {
  --primary-gray: #141414;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  margin: 0;
}

/* h1, h2, h3, p, blockquote, a, input, textarea, button, select, span {
  
} */
